header.header.bg-light.shadow-sm.py-3
  .container
    .d-flex.justify-content-between.align-items-center
      // Logo
      a(href="/" class="text-decoration-none")
        h2.text-primary.mb-0 Logo
      
      // Menu
      nav
        ul.nav
          li.nav-item
            a.nav-link.text-dark(href="/") Trang chủ
          li.nav-item
            a.nav-link.text-dark(href="/categories") Danh mục
          li.nav-item
            a.nav-link.text-dark(href="/cart")
              | Giỏ hàng (
              span(mini-cart) 0
              | )
          li.nav-item
            a.nav-link.text-dark(href="/order")
              | Đơn hàng
              if user
                span.text-danger &nbsp;(#{totalOrders})

          if user
            li.nav-item
              a.nav-link.text-danger(href="/users/logout") Đăng xuất
          else
            li.nav-item
              a.nav-link.text-dark(href="/users/login") Đăng nhập
            li.nav-item
              a.nav-link.text-dark(href="/users/register") Đăng ký
