extends ../../layouts/default.pug
include ../../mixins/productCart.pug
block css 
  link(rel="stylesheet", href="/css/product.css")
block main
  .container.mt-5
    //- Sản phẩm nội bật
    h2.text-primary.text-center.mb-4 Sản phẩm nổi bật
    +productCard(products)