extends ../../layouts/default.pug

block main
  .container.mt-5
    .row.justify-content-center
      .col-md-6
        .card.shadow-lg.rounded-4.border-0
          .card-body.p-4
            h2.text-center.mb-4.text-primary Quên mật khẩu

            form(action="/users/password/forget" method="POST")
              .mb-3
                label.form-label(for="email") Nhập email của bạn
                input.form-control.rounded-pill(
                  type="email",
                  name="email",
                  id="email",
                  placeholder="Email đã đăng ký",
                  required
                )

              button.btn.btn-warning.w-100.rounded-pill.mt-3(type="submit") Gửi yêu cầu đặt lại mật khẩu

              .text-center.mt-3
                a(href="/users/login").text-decoration-none.text-muted Quay lại trang đăng nhập
